@font-face {
  font-family: 'SF Mono';
  src: url('/public/assets/font.otf') format('opentype');
  font-display: swap;
}

:root {
  --main-color: #24292e;
  --accent-color: #77bdfb;
  --text-color: #e7e7e7;
}

html, body {
  height: 100%;
  width: 100%;

  margin: 0;
  padding: 0;

  background-color: var(--main-color);
  color: var(--text-color);

  font-family: 'SF Mono', monospace;
  font-size: 1em;
  font-display: block;

  overflow: hidden;
}

h3 {
  font-weight: lighter;
}

#about-me {
  width: 75%;
}

.fade-in {
  animation: fade-in 0.5s ease-in-out;
}

#container {
  width: 40%;
  height: 100%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

#container.konami {
  animation: fade-out 0.5s ease-in-out;
  opacity: 0;
}

.title {
  margin-top: -5px;
  margin-bottom: -5px;
}

.list {
  list-style-type: none;
  margin-left: -30px;
}

a {
  transition: all 0.10s ease-in-out;
  
  text-decoration: none;
  color: var(--text-color);

  display:inline-block;
}

a:hover {
  transform: scale(1.05);

  color: var(--accent-color);;
}

a:not(.basiclink)::before {
  font-family: 'Noto Color Emoji', sans-serif;

  content: '✨ ';
  opacity: 0;
  color: var(--text-color);

  display: none;
}

a:not(.basiclink):hover::before {
  display: inline;
  opacity: 1;
}

a:not(.basiclink):hover {
  position: relative;
  left: -25px;
}

ul#projects a::after {
  content: attr(data-title);
  opacity: 0;
  color: var(--text-color);

  display: none;
}

ul#projects a:hover::after {
  opacity: 1;
  display: inline;
}

.wave {
  transform-origin: 70% 70%;
  animation: wave-animation 2.5s infinite;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(15deg);
  }

  20% {
    transform: rotate(-5deg);
  }

  30% {
    transform: rotate(15deg);
  }

  40% {
    transform: rotate(-5deg);
  }

  50% {
    transform: rotate(10deg);
  }

  60% {
    transform: rotate(-5deg);
  }

  70% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(0deg);
  }
}